*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #E95A08;
    --paragraph: rgba(0, 0, 0, 0.5)
}

body{
    max-width: 1440px;
    margin: 0 auto;
}


/* shared classes */
.section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}




/* header section */
nav{
    margin-top: 2rem;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border: 1px solid red;
}
ul li{
    margin-left: 3rem;
}
ul li a{
    text-decoration: none;
    color: var(--paragraph);
    font-size: 1.2rem;
}
nav ul li:first-child{
    margin-right:auto ;
    margin-left: 0;
}










/* ============ RESPONSIVE DESIGN =========== */

@media screen and (max-width: 576px) {
    nav ul li:not(:first-child, :last-child){
        display: none;
    }
    
    ul li{
        margin-left: 0;
    }
    nav{
        width: 95%;
        margin: 0 auto;
    }
    .logo{
        width: 50%;
    }
    ul li a{
        font-size: 1rem;
    }
    nav{
        margin-top: .8rem;
    }
    .section{
     margin-bottom: 40px;
    }
    
}

    


